[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
mysqlclient = "*"
django = "*"
django-video-encoding = "*"
django-rq = "*"

[requires]
python_version = "3.7"
