asgiref==3.2.3
Click==7.0
Django==3.0.2
django-appconf==1.0.3
django-maintenance-mode==0.14.0
django-rq==2.2.0
-e git+https://github.com/ajacobsen/django-video-encoding.git@f88b4b296024a2f1dfaadfcfcc3744f36ef5812d#egg=django_video_encoding
mysqlclient==1.4.6
Pillow==5.4.1
python-magic==0.4.15
pytz==2019.3
redis==3.3.11
rq==1.2.0
shutilwhich==1.1.0
six==1.13.0
sqlparse==0.3.0
