{% extends 'streamer/base.html' %}
{% load static %}

{% block head %}
	<title>Home - TRACLE</title>
{% endblock head %}


{% block main_content %}

{% include 'streamer/navbar.html' %}

{% include 'streamer/sidebar.html' %}

<style type="text/css">

	#feed {
		margin-right: 8px;
	}

	#feed-header {
		overflow: hidden;
	    padding: 8px;
	    min-height: 36px;
	    background: #2b2b2b;
	    -moz-border-radius-topright: 5px;
	    -webkit-border-top-right-radius: 5px;
	    border-top-right-radius: 5px;
	    background-image: -moz-linear-gradient(top,#333333 0,#262626 100%);
	    background-image: -ms-linear-gradient(top,#333333 0,#262626 100%);
	    background-image: -o-linear-gradient(top,#333333 0,#262626 100%);
	    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#333333),color-stop(100%,#262626));
	    background-image: -webkit-linear-gradient(top,#333333 0,#262626 100%);
	    background-image: linear-gradient(to bottom,#333333 0,#262626 100%);
	    color: #fff;
	}

	#feed-header h2 {
		font-size: 15px;
	    line-height: 34px;
	    margin: 0;
	}

	#feed-main {
		background: white;
	}

	#feed-main > ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.feed-item-container {
		border-bottom: 1px solid #ededed;
		height: 112px;
	}

	.feed-item-container:hover .feed-item-main a {
		color: #1c62b9;
	}

	.feed-item-outer {
		padding: 15px;
	    padding-bottom: 5px;
	    margin: 0;
	}

	.feed-item-main {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}

	.feed-item-main h4 {
		margin: 0;
	    color: #333;
	    font-size: 15px;
	    line-height: 1.2em;
	    max-height: 2.4em;
	    overflow: hidden;
	}

	.feed-item-main a {
		color: inherit;
		text-decoration: none;
	}

	.feed-item-main a:hover {
		text-decoration: underline;
	}

	.feed-item-thumb {
		height: 59px;
	}

	.feed-item-thumb > a > img {
		max-width: 105px;
		height: 59px;
	}

	.feed-item-content {
		padding-left: 10px;
	}

	.feed-item-description {
		color: #999;
	    max-height: 28px;
	    overflow: hidden;
	}

	.feed-item-time {
		color: #999;
		line-height: 15px;
		font-size: 9px;
		justify-self: end;
	}

	#recommended-videos > ul {
		list-style: none;
		padding: 0;
	}

	.recommended-item-thumb {
		height: 59px;
	}

	.recommended-item-thumb > a > img {
		height: 59px;
	}

	.recommended-item-main {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
	}

	.alpha-banner {
		color: #e2e2e2;
		height: 170px;
		background-color: #2b2b2b;
	    padding: 10px;
	    border-top-right-radius: 5px;
	}

	.alpha-banner img {
		max-width: 32px;
		max-height: 32px;
		margin-right: 8px;
	}

	.alpha-banner div {
		display: flex;
	    align-items: center;
	    background-color: #0008;
	    border-radius: 8px;
	    margin: 5px;
	    padding: 0px 6px;
	}

	.alpha-banner a {
		color: inherit;
		text-decoration: none;
	}

	.alpha-banner a:hover {
		text-decoration: underline;
	}

</style>

<div id='feed'>
	<div id='feed-header'>
		{% if category %}
			<h2>{{ category.title }}</h2>
		{% else %}
			<h2>From TRACLE<h2>
		{% endif %}
	</div>
	<div id='feed-main'>
		{% if videos %}
			<ul>
			{% for video in videos %}
				<li>
					<div class="feed-item-container">
						<div class="feed-item-outer">
							<div class="feed-item-main">
								<div class="feed-item-thumb">
									<a href="watch/{{ video.watch_id }}">
										<img src="{{ video.thumbnail.url }}">
									</a>
								</div>
								<div class="feed-item-content">
									<h4><a href="watch/{{ video.watch_id }}">{{ video.title }}</a></h4>
									<div class="feed-item-description">{{ video.description }}</div>
									<div class="feed-item-views">
										{{ video.view_count }} views
									</div>
									<div class="feed-item-channel">
										<i class="fas fa-user"></i>
										<a href="channel/{{ video.channel.channel_id }}">
											{{ video.channel.name }} uploaded
										</a>
									</div>
								</div>
								<div class="feed-item-time">
									{{ video.uploaded }}
								</div>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<div style="text-align: center;">
				<img style="padding-top: 10px;" src="{% static '/img/doge.png' %}">
				<p>Wow! Such empty!</p>
			</div>
		{% endif %}
	</div>
</div>


<div id='recommended-videos'>
	<div class="alpha-banner">
		<h2>Welcome to TRACLE Alpha</h2>
		<a href="https://discord.gg/uJd9nxD">
			<div>
				<img src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png">
				<p>Join the official discord server to share your thoughts about TRACLE with us!</p>
			</div>
		</a>
		<a href="https://www.github.com/ajacobsen/VidHub">
			<div>
				<img src="{% static 'img/GitHub-Mark-Light-120px-plus.png' %}">
				<p>Report bugs, make suggestions or make your contribution on GitHub!</p>
			</div>
		</a>
	</div>
	{% if videos %}
		<ul>
		{% for video in videos %}
			<li>
				<div class="recommended-item-container">
					<div class="recommended-item-outer">
						<div class="recommended-item-main">
							<div class="recommended-item-thumb">
								<a href="watch/{{ video.watch_id }}">
									<img src="{{ video.thumbnail.url }}">
								</a>
							</div>
							<div class="recommended-item-content">
								<h4><a href="watch/{{ video.watch_id }}">{{ video.title }}</a></h4>
								<div>{{ video.description }}</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Wow! Such empty!</p>
	{% endif %}
</div>


<script type="text/javascript">

	function getUrlParameter(name) {
	    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
	    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
	    var results = regex.exec(location.search);
	    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	};

	$(document).ready(console.log(getUrlParameter('c')));
</script>

{% endblock main_content %}
