{% extends 'streamer/base.html' %}

{% block head %}
	<title>Create Account - TRACLE</title>
{% endblock %}

{% block main_content %}

	{% include 'streamer/navbar.html' %}

	<div style="
	grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 50px;
    font-size: 1.4em;
    background: #fff;
    border: 1px #3334 solid;
    padding: 20px;
    color: #333;">
		<div>We are very happy to see that you are interesred in creating an account on TRACLE.</div>
		<div>Please be aware that it's still in an early state of development.</div>
		<div>If you want to help improve TRACLE, please join our <a href="https://discord.gg/uHxAPpj">Discord server</a> and send a message to danjo#5672 to get an account.</div>
	</div>
{% endblock main_content %}